@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styling */
html, body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to bottom right, #dcfce7, #bbf7d0);
  font-family: 'Inter', sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
