# Ignorera node_modules (både frontend och backend)
node_modules/

# Ignorera byggda filer
dist/
build/

# Ignorera miljövariabler (hemliga data)
.env

# Ignorera loggfiler
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code-filer
.vscode/
